.accordion {
	background-color: #fff;
}

.accordion-btn {
	background-color: #f2d19d;
	cursor: pointer;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	font: 1rem Arial;
	height: 2.5rem;
	color: #6e655d;
}

.accordion-btn:hover {
	background-color: #f2d27d;
}

.active {
	display: block;
	margin: 0.6rem;
	max-height: 15.6rem;
	overflow: auto;
}

.hidden {
	display: none;
}

p {
	margin-top: 0;
}
