.accordion {
	background-color: #fff;
}

.accordion-btn {
	background-color: #f2d19d;
	cursor: pointer;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	font: 16px Arial;
	height: 40px;
	color: #6e655d;
}

.accordion-btn:hover {
	background-color: #f2d27d;
}

.active {
	display: block;
	margin: 10px;
}

.hidden {
	display: none;
}
