.search {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 1.25rem;
	padding-bottom: 0;
	flex-wrap: wrap;
}

.autocomplete {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 25rem;
}

.userInputSearch {
	box-shadow: 0 0.6rem 0.9rem rgba(0, 0, 0, 0.25),
		0 0.3rem 0.3rem rgba(0, 0, 0, 0.22);
}

.userInputSearch,
.dropdown {
	padding: 0.5rem;
	border: 1px solid transparent;
	font: 1rem Arial;
	color: #6e655d;
}

option {
	text-align: center;
}

.dropdown {
	height: 2.25rem;
	width: 6rem;
	text-align: center;
	appearance: none;
	box-shadow: 0 0.6rem 0.9rem rgba(0, 0, 0, 0.25),
		0 0.3rem 0.3rem rgba(0, 0, 0, 0.22);
}

.btn-search {
	border: 1px solid transparent;
	background-color: #ed704e;
	color: #fff;
	cursor: pointer;
	height: 2.25rem;
	margin-left: 0.3rem;
	width: 5rem;
	font: 1rem Arial;
	box-shadow: 0 0.6rem 0.9rem rgba(0, 0, 0, 0.25),
		0 0.3rem 0.3rem rgba(0, 0, 0, 0.22);
}
