.search {
	display: flex;
	align-items: flex-start;
	position: relative;
	left: 25%;
	padding: 20px;
	padding-bottom: 0;
	width: 600px;
}
li {
	list-style: none;
}
.autocomplete {
	width: 380px;
	display: flex;
	flex-direction: column;
}
.autocomplete-list {
	background-color: #f1f1f1;
	margin: 0;
	padding-left: 0;
	position: absolute;
	width: inherit;
	z-index: 1;
	top: 100%;
}
.autocomplete-list-element {
	border: 1px solid gray;
	border-top: none;
	padding: 0.5rem;
}
.autocomplete-list-element:hover {
	background-color: #ccc;
}
option {
	text-align: center;
}
.dropdown {
	height: 36px;
	width: 100px;
	text-align: center;
	appearance: none;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.userInputSearch {
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.userInputSearch,
.dropdown {
	padding: 0.5rem;
	border: 1px solid transparent;
	font: 16px Arial;
	color: #6e655d;
}

.btn-search {
	border: 1px solid transparent;
	background-color: #ed704e;
	color: #fff;
	cursor: pointer;
	height: 37px;
	margin-left: 5px;
	width: 80px;
	font: 16px Arial;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
