.App {
	box-sizing: border-box;
	color: #6e655d;
}
.tiles {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 2rem;
}

.tile {
	flex-grow: 1;
}

@media (min-width: 500px) {
	.tile {
		flex-basis: 35%;
	}
}

@media (max-width: 499px) {
	.tile {
		flex-basis: 55%;
	}
}

.user-input {
	margin-bottom: 40px;
	justify-content: center;
}
