.App {
	box-sizing: border-box;
	color: #6e655d;
}

.user-input {
	margin-bottom: 2.5rem;
	justify-content: center;
}

.tiles {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 2rem;
}

.tile {
	flex-grow: 1;
}

@media (min-width: 31.2rem) {
	.tile {
		flex-basis: 35%;
	}
}

@media (max-width: 31.1rem) {
	.tile {
		flex-basis: 55%;
	}
}
